@model User

@{
    ViewData["Title"] = "AdminIndex";
    var Users = ViewBag.Users;
}

<h2>Admin Index</h2>
@if (ViewBag.IsSuccessful == "true")
{
    <h5>Success</h5>
}
@if (ViewBag.IsSuccessful == "false")
{
    <h5>Failed</h5>
}

<p>Welcome @Model.Name</p>

<p>
    <a asp-action="Register" class="btn btn-default">Create New User</a>
</p>
<p>
    <a asp-action="CreateJob" class="btn btn-default">Create New Job</a>
</p>
<p>
    <a asp-action="CreateProjectTasks" class="btn btn-default">Create New Project Task</a>
</p>
<p>
    <a asp-action="AddJobLocation" class="btn btn-default">Add Job Location</a>
</p>
<p>
    <a asp-action="AuthorizeUser" class="btn btn-default">Authorize User To Job</a>
</p>
<p>
    <a asp-action="ApproveHoursHub" class="btn btn-default">Approval Hub</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                User Id
            </th>
            <th>
                Full Name
            </th>
            <th>
                Username
            </th>
            <th>
                Logged Time
            </th>
            <th>
                Authorization Level
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (User item in Users)
        {
            <tr>
                <td>
                    @item.UserId
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Username
                </td>
                <td>
                    @if (item.Role == "Users")
                    {
                        <a asp-action="GetUserTimeLog" asp-route-username="@item.Username">@item.Name's Time Log</a>
                    }
                    @if (item.Role == "Admin")
                    {
                        <div>n/a</div>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role)
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = item.UserId })
                </td>
            </tr>
        }
    </tbody>
</table>
