@model User

@{
    ViewData["Title"] = "Admin";
    IEnumerable<dynamic> Users = ViewBag.Users;
    Users = Users.OrderBy(x => x.Name).ToList();
}

<style>
    .id {
        text-align: center;
    }

    span {
        padding-right: 40px;
    }

    #welcome {
        font-weight: bold;
    }

    th {
        font-size: large;
    }
</style>
@*<h2 class="id">Admin Index</h2>*@

@*@if (ViewBag.IsSuccessful == "true")
    {
        <h5>Success</h5>
    }
        <h5>Failed</h5>
    }*@

@*if job was successfully created*@

@if (ViewBag.JobWasCreated == true)
{
    <h5>Job was successfully created!</h5>
}
@if (ViewBag.JobWasCreated == false)
{
    <h5>Job creation failed</h5>
}

<br />
<span>
    <a asp-action="Register" class="btn btn-primary">Create New User</a>
</span>
<span>
    <a asp-action="AuthorizeUser" class="btn btn-primary">Authorize User To Job</a>
</span>
<span>
    <a asp-action="CreateJob" class="btn btn-primary">Create New Job</a>
</span>
<span>
    <a asp-action="CreateProjectTasks" class="btn btn-primary">Create New Project Task</a>
</span>
<span>
    <a asp-action="AddJobLocation" class="btn btn-primary">Add Job Location</a>
</span>
<span>
    <a asp-action="ApproveHoursHub" class="btn btn-primary">Approval Hub</a>
</span>
<br />
<br />
    <table class="table">
        <thead>
            <tr>
                <th>
                    Full Name
                </th>
                <th></th>
                <th></th>
                <th>
                    Username
                </th>
                <th></th>
                <th></th>
                <th>
                    Logged Time
                </th>
                <th></th>
                <th></th>
                <th>
                    Authorization
                </th>
                <th></th>
                <th></th>
                <th>
                    Audit
                </th>
                <th></th>
                <th></th>
                <th style="text-align:center">Change Role</th>
            </tr>
        </thead>
        <tbody>
            @foreach (User item in Users)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td></td>
                    <td></td>
                    <td>
                        @item.Username
                    </td>
                    <td></td>
                    <td></td>
                    <td>
                        @if (item.Role == "User FT" || item.Role == "User PT")
                        {
                            <a style="color:black" asp-action="GetUserTimeLog" asp-route-username="@item.Username">@item.Name's Time Log</a>
                        }
                        @if (item.Role == "Admin")
                        {
                            <div>Admin</div>
                        }
                        @if (item.Role == "Inactive User")
                        {
                            <div>Inactive</div>
                        }
                    </td>
                    <td></td>
                    <td></td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Role)
                    </td>
                    <td></td>
                    <td></td>
                    <td>
                        <a style="color:black" asp-action="AuditedLogs" asp-route-username="@item.Username">Report</a>
                    </td>
                    <td></td>
                    <td></td>
                    <td>
                        <form asp-action="ChangeRole" asp-controller="Account" method="post">
                            <span>
                                <label>Select Role: </label>
                                <select class="btn btn-default" asp-for="Role">
                                    <option value="Admin">Admin</option>
                                    <option value="User FT">Full-time</option>
                                    <option value="User PT">Part-time</option>
                                    <option value="Inactive User">Inactive</option>
                                </select>
                            </span>
                            <span>
                                <input type="hidden" asp-for="UserId" value="@item.UserId" />
                                <input type="submit" value="Submit" class="btn btn-info active" />
                            </span>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>




