@model User

@{
    ViewData["Title"] = "AdminIndex";
    IEnumerable<dynamic> Users = ViewBag.Users;
    Users = Users.OrderBy(x => x.Name).ToList();
}

<style>
    .id {
        text-align: center;
    }

    span {
        padding-right: 40px;
    }

    #welcome {
        font-weight: bold;
    }
</style>
<h2 class="id">Admin Index</h2>

@*@if (ViewBag.IsSuccessful == "true")
{
    <h5>Success</h5>
}
    <h5>Failed</h5>
}*@
<br />
<p class="id" id="welcome">Welcome @Model.Name</p>
<br />
<span>
    <a asp-action="Register" class="btn btn-default">Create New User</a>
</span>
<span>
    <a asp-action="AuthorizeUser" class="btn btn-default">Authorize User To Job</a>
</span>
<span>
    <a asp-action="CreateJob" class="btn btn-default">Create New Job</a>
</span>
<span>
    <a asp-action="CreateProjectTasks" class="btn btn-default">Create New Project Task</a>
</span>
<span>
    <a asp-action="AddJobLocation" class="btn btn-default">Add Job Location</a>
</span>
<span>
    <a asp-action="ApproveHoursHub" class="btn btn-default">Approval Hub</a>
</span>
<br />
<br />
    <table class="table">
        <thead>
            <tr>
                <th>
                    Full Name
                </th>
                <th></th>
                <th></th>
                <th>
                    Username
                </th>
                <th></th>
                <th></th>
                <th>
                    Logged Time
                </th>
                <th></th>
                <th></th>
                <th>
                    Authorization Level
                </th>
                <th></th>
                <th></th>
                <th>
                    Log Audit Trail
                </th>
                <th></th>
                <th></th>
                <th>Change Role</th>
            </tr>
        </thead>
        <tbody>
            @foreach (User item in Users)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td></td>
                    <td></td>
                    <td>
                        @item.Username
                    </td>
                    <td></td>
                    <td></td>
                    <td>
                        @if (item.Role == "User FT" || item.Role == "User PT")
                        {
                            <a asp-action="GetUserTimeLog" asp-route-username="@item.Username">@item.Name's Time Log</a>
                        }
                        @if (item.Role == "Admin")
                        {
                            <div>Admin</div>
                        }
                        @if (item.Role == "Inactive User")
                        {
                            <div>Inactive</div>
                        }
                    </td>
                    <td></td>
                    <td></td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Role)
                    </td>
                    <td></td>
                    <td></td>
                    <td>
                        <a asp-action="AuditedLogs" asp-route-username="@item.Username">Log Audit</a>
                    </td>
                    <td></td>
                    <td></td>
                    <td>
                        <form asp-action="ChangeRole" asp-controller="Account" method="post">
                            <span>
                                <label>Select Role: </label>
                                <select asp-for="Role">
                                    <option value="Admin">Admin</option>
                                    <option value="User FT">UserFT</option>
                                    <option value="User PT">UserPT</option>
                                    <option value="Inactive User">UserInactive</option>
                                </select>
                            </span>
                            <span></span>
                            <span>
                                <input type="hidden" asp-for="UserId" value="@item.UserId" />
                                <input type="submit" value="Submit" />
                            </span>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>




