@model PayrollTable

@{
    ViewData["Title"] = "Approval Hub";
}



<form asp-controller="account" asp-action="ApproveHoursHub">
    <div class="form-group">
        <label>Select Pay Period: </label>
        <select class="btn btn-default" asp-for="StartDate">
            @foreach (PayrollTable payroll in ViewBag.PayPeriods)
            {
                <option value="@payroll.StartDate">@payroll.StartDate.ToShortDateString() - @payroll.EndDate.ToShortDateString()</option>
            }
        </select>
        <span asp-validation-for="StartDate"></span>
        <input type="submit" value="Select Pay Period" class="btn btn-default" />
    </div>
</form>

<p>
    <a asp-action="CreatePayPeriod" class="btn btn-default">Define New Pay Period</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Submitted?
            </th>
            <th>
                Approved?
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (PayrollTable item in ViewBag.TimeCards)
        {
            <tr>
                <td>
                    <a style="color:black" asp-action="PeriodTimeCard" asp-route-userId="@item.UserId" asp-route-StartDate="@item.StartDate" asp-route-EndDate="@item.EndDate">@item.Name</a>
                </td>
                <td>
                    @item.IsSubmitted
                </td>
                <td>
                    @item.IsApproved
                </td>
            </tr>
        }
    </tbody>
</table>