@model User
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>Welcome @Model.Name</p>

<p>
    <a asp-action="LogTime" class="btn btn-default">Log Time</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Date
            </th>
            <th>
                Location
            </th>
            <th>
                Description
            </th>
            <th>
                Hours
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (Hours hours in ViewBag.Hours)
        {
            <tr>
                <td>
                    @(hours.DateWorked.ToShortDateString())
                </td>
                <td>
                    @hours.Location
                </td>
                <td>
                    @hours.Description
                </td>
                <td>
                    @hours.TimeInHours
                </td>
            </tr>
        }
    </tbody>
</table>