@model User

    @{
        ViewData["Title"] = "Index";
    }

    <h2>Index</h2>

    <p>Welcome @Model.Name</p>



<span>
    <a asp-action="LogTime" class="btn btn-default">Log Time</a>
</span>
<span>
    <a asp-action="editLogs" class="btn btn-default">Edit Time</a>
</span>
<span>
    <a asp-action="SubmitTimeCard" class="btn btn-default">Submit Time</a>
</span>

    <br />

    <table class="table">
        <thead>
            <tr>
                <th>
                    Date
                </th>
                <th>
                    Location
                </th>
                <th>
                    Description
                </th>
                <th>
                    Hours
                </th>
                <th>
                    Edit
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (Hours hours in ViewBag.Hours)
            {
                <tr>
                    <td>
                        @(hours.DateWorked.ToShortDateString())
                    </td>
                    <td>
                        @hours.Location
                    </td>
                    <td>
                        @hours.Description
                    </td>
                    <td>
                        @hours.TimeInHours
                    </td>
                    <td>
                        <a asp-action="EditLogs" asp-route-id="@hours.HoursId">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>