@model User

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>Welcome @Model.Name</p>


<span>
    <a asp-action="LogTime" class="btn btn-default">Log Time</a>
</span>
@*<span>
        <a asp-action="editLogs" class="btn btn-default">Edit Time</a>
    </span>*@
<span>
    <a asp-action="SubmitTimeCard" class="btn btn-default">Submit Time</a>
</span>

<br />

@if (ViewBag.IsOver == 1 && ViewBag.UserRole == "User FT")
{
    <h3>You have entered more than 40 hours for the current week!</h3>
}
@if (ViewBag.IsOver == 1 && ViewBag.UserRole == "User PT")
{
    <h3>You have entered more than 27.5 hours for the current pay period!</h3>
}

@if (ViewBag.IsOver == 2 && ViewBag.UserRole == "User FT")
{
    <h3>You have entered more than 40 hours for the current week!</h3>
}
@if (ViewBag.IsOver == 2 && ViewBag.UserRole == "User PT")
{
    <h3>You have entered more than 27.5 hours for the current week!</h3>
}

@*reminder*@

@if (ViewBag.AllLogsEntered == false)
{
    <h3>You have forgotten to log all days within the current pay period!</h3>
}

@*if job was successfully created*@

@if (ViewBag.JobWasCreated == true)
{
    <h5>Job was successfully created!</h5>
}
@if (ViewBag.JobWasCreated == false)
{
    <h5>Job creation failed</h5>
}

<br />

<table class="table">
    <thead>
        <tr>
            <th>
                Date
            </th>
            <th>
                Location
            </th>
            <th>
                Description
            </th>
            <th>
                Hours
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (Hours hours in ViewBag.Hours)
        {
            <tr>
                <td>
                    @(hours.DateWorked.ToShortDateString())
                </td>
                <td>
                    @hours.Location
                </td>
                <td>
                    @hours.Description
                </td>
                <td>
                    @hours.TimeInHours
                </td>
                <td>
                    <a asp-action="EditLogs" asp-route-id="@hours.HoursId">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>