@model PayrollTable

@{
    ViewData["Title"] = "PeriodTimeCard";
}

<h2>PeriodTimeCard</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Date
            </th>
            <th>
                Location
            </th>
            <th>
                Description
            </th>
            <th>
                Hours
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (Hours hours in ViewBag.TimeCard)
        {
            <tr>
                <td>
                    @(hours.DateWorked.ToShortDateString())
                </td>
                <td>
                    @hours.Location
                </td>
                <td>
                    @hours.Description
                </td>
                <td>
                    @hours.TimeInHours
                </td>
            </tr>
        }
    </tbody>
</table>

<form asp-controller="account" asp-action="ApproveTimeCard" method="post">
    <input type="hidden" asp-for="UserId" value="@ViewBag.PayrollLine.UserId" />
    <input type="hidden" asp-for="StartDate" value="@ViewBag.PayrollLine.StartDate" />
    <input type="hidden" asp-for="EndDate" value="@ViewBag.PayrollLine.EndDate" />
    <input type="submit" value="Approve Timecard" class="btn btn-default" />
</form>
